/* Colorers del proyecto
body1: #122D43
body 2: #252524
header: #191919
Textos:#122D43 
Alt: #030504
Gold: #89623D
*/
/* Estilos del header*/
body
{
    font-family: Lato, Arial, Helvetica, sans-serif;
     background-color: #252524; 
     margin: 0;
}

.header 
{
    background-color: #191919;
    color: whitesmoke;
    display: flex;
    align-items: center;
    /* flex-direction: row;*/
    justify-content: space-between; 
    height: 60px;
}

.menu
{
    height: inherit;
}

.header ol
{
    display: flex;
    height: inherit;

}

.header ol li
{
    height: inherit;
    display: flex;
    
}

.header a
{
    display: flex;
    padding: 0px 25px;
    height: inherit;
    align-items: center;
}

figure
{
    margin: 0;
}

ol, ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}


.link
{
    align-self: flex-start;
}

.header a
{
    color: white;
    text-decoration: none; 
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-weight: bold;
 
}

h1
{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: whitesmoke;
    margin: 0;

}

h1 strong
{
    color: #89623D
}


h2
{
    color: #89623D;
    text-transform: uppercase;
    font-family: Lato, 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}



/* p
{
    color: #eaeaea;
} */


.hero
{
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-image: url('https://i.imgur.com/MqcfDC3.jpg');
    background-color: #252524;
    background-size: 500px 400px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;  
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid lightgray;
}



.portfolio
{
    /* border: 1px solid lightgray; */
    margin-bottom: 20px;
    background: #252524;
    align-items: center;
    justify-content: space-between;
}

.project
{

    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    padding: 15px;
    background: lightgray;
    display: flex;
    text-align: justify;
}

.project_title
{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project_course,
.project_date,
.project_url
{
    margin: 5px 0;
    font-size: 15px;
}

/* .project_date
{
    margin: 5px 0;
} */

.project_details
{
    font-size: 20px;
}

.project_imageWrapper
{
    padding: 25px;
    width: 500px;
}

.event_list
{
    display: flex;
}


.event
{
    /* border: 1px solid lightgray; */
    border-radius: 10px;
    margin: 5px;
    width: 480px;
    border-radius: 10p;
    flex-shrink: 1;
    overflow: hidden;
    background-color: lightgray;
}

.event_detail
{
    margin: 10px 20px;
    margin-top: -40px;
    background: #ede8e8;
    border-radius: 20px;
    position: relative;
    padding: 10px;
    text-align: center;
}

.event_description
{
    text-align: left;
}

.event img
{
    width: 480px;
    height: 200px;
    object-fit: cover;
    
}

.event_url
{
    border: 1px solid #89623D;
    padding: 3px 10px;
    text-decoration: none;
    color: #89623D;
    border-radius: 5px;
}

.contact
{
    background-color: #89623D;
    color: whitesmoke;
    height: 300px;
}

.contact h3
{
    padding: 10px;
}


.footer
{
    background-color: #191919;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img
{
    vertical-align: middle;
    padding: 5px;
    padding: 0 25px;
}

.footer a
{
    color: whitesmoke;
}

/* .flexbox
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.box
{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 20px;
    Propiedad que permite a los elementos hijos mantener sus tamaños
    flex-shrink: 0;
} */