/* Colorers del proyecto
body1: #122D43
body 2: #252524
header: #191919
Textos:#122D43 
Alt: #030504
Gold: #89623D
*/
/* Estilos del header*/
body
{
    font-family: Lato, Arial, Helvetica, sans-serif;
     background-color: #252524; 
     margin: 0;
}

.header 
{
    background-color: #191919;
    color: whitesmoke;
    display: flex;
    align-items: center;
    /* flex-direction: row;*/
    justify-content: space-between; 
    height: 60px;
}

.menu
{
    height: inherit;
}

.header ol
{
    display: flex;
    height: inherit;

}

.header ol li
{
    height: inherit;
    display: flex;
    
}

.header a
{
    display: flex;
    padding: 0px 25px;
    height: inherit;
    align-items: center;
}

figure
{
    margin: 0;
}

ol, ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}


.link
{
    align-self: flex-start;
}

.header a
{
    color: white;
    text-decoration: none; 
}


/* .link
{
    margin: 5px;
    flex-wrap: wrap;
} */

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color: #89623D;
}

h1
{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: whitesmoke;
    margin: 0;

}

h1 strong
{
    color: #89623D
}

/* p
{
    color: #eaeaea;
} */


.hero
{
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-image: url('https://i.imgur.com/MqcfDC3.jpg');
    background-color: #252524;
    background-size: 500px 400px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;  
    align-items: center;
    padding: 25px
}



.projectWrapper
{
    border: 1px solid lightgray;
    padding: 5px;
    background: #252524;
   
}

.project
{

    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 15px;
    background: lightgray;
    display: flex;
}

.project_details
{
    width: 500px;
    height: 200px;
}

.project_imageWrapper
{
    width: 500px;
}

.footer
{
    background-color: #191919;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img
{
    vertical-align: middle;
    padding: 5px;
}

.footer a
{
    color: whitesmoke;
}

/* .flexbox
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.box
{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 20px;
    Propiedad que permite a los elementos hijos mantener sus tamaños
    flex-shrink: 0;
} */